ul.nav.banner-nav.icon-nav
    each language in lang.all
      li(class=lang.currentName == language.name ? 'cursor' : false)
        a.ico(href=language.fn(urlIndex))
          img(src='/img/lang/' + language.name + '.png', width=16, height=11)
