doctype 5
html(lang=langName)
  head
    include includes/head
  body
    include includes/current-user
    include includes/messaging
    include includes/site-nav

    block content

    include includes/language-nav
