doctype 5
html
  head
    include includes/head
  body
    include includes/current-user
    include includes/messaging

    ul.nav.site-nav
      li
        a(href=lang('/login.route'))
          = lang('/login.label')
      li
        a(href=lang('/register.route'))
          = lang('/register.label')
      li
        a(href=lang('/restricted.route'))
          = lang('/restricted.label')

    block content
