//-
  OVERRIDABLE DEFAULTS
  ----------------------------------------------------------------
  o.action:        '/login'
  o.emailLabel:    'Email'
  o.passwordLabel: 'Password'
  o.submitLabel:   'Login'

mixin loginForm(o)
  form(action=o.action || '/login', method='post')
    ul.field-set.field-set-stacked
      li.field
        label(for='login-email')
          = o.emailLabel || 'Email'
        input.input-text(type='email', name='email', id='login-email', placeholder='you@yours.com')
      li.field
        label(for='login-password')
          = (o.passwordLabel || 'Password') + ' '
          a(href="/forgot-password", tabindex="2")
            = 'Forgot it?'
        input.field-submit(type='password', name='password', id='login-password')

    input.btn-alpha(type='submit', value=o.submitLabel || 'Sign In')
